body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee;
}

.todo-app{
  max-width: 700px;
  margin: 20px auto;
  padding: 10px 20px 10px;
}

.collection-item{
  background: #fff;
}
/*
Below will cause strikethrough on hover

.collection-item span:hover{
  cursor: pointer;
  text-decoration: line-through;
}
*/

/*
Below also hooks up to .edit-text

.input-field span {
  color: black; 
  margin-right: 50px;
}
*/

.edit-text{
  /* color: black; */
  margin-right: 50px;
}

.delete-btn{
  margin-left: 20px
}

form{
  margin: 20px 10px;
}
